:root {
    --pink: #ff4081;
  }
  
  #bg {
    background-image: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-color: transparent;
  }
  
  body {
    font-family: Lato, sans-serif;
    margin: 0;
    background-color: #232e33;
  }
  
  h1 {
    text-align: center;
    color:rgb(255, 255, 255)
  }
  
  #navbar {
    width: 100vw;
    background-color: #192024;
    font-weight: bold;
  }
  
  #navbar ul {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em 0;
  }
  
  #login {
    color:rgb(255, 255, 255) !important;
    font-size: 20px !important;
  }
  
  #navbar li a {
    text-decoration: none;
    color: white;
    padding-right: 3em;
    position: relative;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
  }
  
  #navbar li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--pink);
    bottom: -1em;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
  }
  
  #navbar li a:hover::after {
    width: 60%;
  }
  
  #navbar li a:hover {
    color: var(--pink);
  }
  
  #navbar li:first-child {
    margin-right: auto;
    margin-left: 3em;
  }
  
  /*everything below here is just setting up the page, so dont worry about it */
  @media (min-width: 768px) {
    .navbar {
      text-align: center !important;
      float: none;
      display: inline-block;
    }
  }
  
  body {
    background-color: black;
    font-weight: 600;

    color: white;
  }
  
  nav {
    background: none !important;
    text-transform: uppercase;
  }
  
  nav li {
    margin-left: 3em;
    margin-right: 3em;
  }
  
  nav li a {
    -webkit-transition: .5s color ease-in-out;
    transition: .5s color ease-in-out;
  }
  
  .page-title {
    opacity: .75 !important;
  }
  
  .move-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .form-control {
      font-size: 20px;
      text-align: justify !important;
  }
  
  .form-group {
      margin-left: 600px;
      padding: 50px;
  }

  .btn-4 {
      margin-left: 95px;
  }
  
  p {
      font-size: 30px;
  }
