:root {
    --pink: #ff4081;
}

#bg {
    background-image: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-color: transparent;
}

body {
    font-family: Lato, sans-serif;
    margin: 0;
    background-color: #232e33;
}

h1 {
    font-size: 100px;
    position: relative;
    margin-top: 40px;
    text-align: center;
    color:rgb(255, 255, 255)
}

#navbar {
    width: 100vw;
    background-color: #192024;
    font-weight: bold;
}

#navbar ul {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em 0;
}

#login {
    color:rgb(255, 255, 255) !important;
    font-size: 20px !important;
}

#navbar li a {
    text-decoration: none;
    color: white;
    padding-right: 3em;
    position: relative;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}

#navbar li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--pink);
    bottom: -1em;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}

#navbar li a:hover::after {
    width: 60%;
}

#navbar li a:hover {
    color: var(--pink);
}

#navbar li:first-child {
    margin-right: auto;
    margin-left: 3em;
}

.container{
    margin: 80px auto;
    width: 80%;
    padding: 15px;
}

.img1{
    float: right;
    margin-right: 60px;
    width: 350px;
    padding: 0 10px 0 0;
}

.text{
    background: #232e33;
    border-radius: 10px;
    padding: 15px;
    text-align:left;
    margin-top: 40px;
    font-size: 30px;
    padding: 15px;
    font-family: verdana;
    color: honeydew;
    max-width: 965px;
}

.fas {
    margin-right: 5px;
  }
